# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
env/
*.env

# Django migrations
**/migrations/*.pyc
**/migrations/*.pyo

# Node & React
node_modules/
build/
/.env

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
