# === Python / Django ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
venv/
env/
*.pot
*.mo
media/
staticfiles/

# === Node / React ==
/node_modules/
/build/

# === System files ===
.DS_Store
Thumbs.db
